article {
    width: 50vw;
    padding: 70px 10vw;
}

h2,
.separateur {
    margin: 0px auto 50px;
    text-align: center;
}

section {
    margin: 0 auto;
    max-width: 1000px;
}

section p {
    line-height: 35px;
    margin: 0
}

.separateur {
    background-image: url("../images/Jalapeno-burned.png");
    height: 120px;
    background-size: 100px;
}

.titre {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(../images/plat-1600.jpg);
    background-position: center center;
}

#notre-histoire {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-gap: 3rem;
}

#notre-histoire img, .pictures img{
    width: 300px
}

.pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	margin: 0 auto;
    max-width: 1000px;
}

.pictures img {
    margin-top: 6rem;
}

.odd-p {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.even-p {
    grid-column-start: 2;
    grid-column-end: span 2;
}


@media screen and (max-width: 950px) {
    #notre-histoire, .pictures {
        display: flex;
        flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
        text-align: center;
    }
	.pictures img {
		margin-top: 4rem;
	}
	
    section p {
        line-height: 30px;
    }

    article {
        flex-flow: column;
        height: inherit;
    }

    section {
        width: auto;
    }