html,
body {
  margin: 0 auto !important;
  padding: 0;
  height: 100%;
  width: 100vw;
  z-index: 0;
}
body {
  overflow-x: hidden;
}
body,
main,
article {
  font-family: "Lato", Arial, Helvetica, cursive, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialised;
  text-rendering: optimizeLegibility;
  font-size: 1em;
  color: #484848;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.texte p {
  font-size: 0.8em;
}

.texte {
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin: auto;
  width: 90%;
}

.certifications div,
.certifications div img {
  display: inline-block;
  width: 105px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.certifications div {
  margin: 10px 50px 10px 0;
}

.certifications p {
  margin: 10px 0 0 0;
  line-height: 1.1em;
  display: block;
}
.certifications div img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.certifications div .fa {
  font-size: 1.5em;
}

.details-recette span {
  color: #999999;
  font-weight: normal;
  white-space: nowrap;
}

.details-recette li::before,
.details-recette .fa-clock,
.details-recette .fa-cookie-bite,
.details-recette .fa-users {
  padding: 0 0.75em;
  width: 1em;
}

ol {
  counter-reset: li;
}

ol li::before,
ul li::before {
  color: #ff3d00;

  font-size: 0.95em;
  top: 0;
  width: 1.5em;
}

ul li::before {
  content: "\2022";
  position: relative;
  margin: -25px;
  padding: 0 40px 0 0;
}

ol li::before {
  margin: -35px;
  padding: 0 47px 0 0;
  content: counter(li) ".";
  position: relative;
  text-align: right;
  font-weight: bold;
  display: inline-block;
}

li {
  counter-increment: li;
}

h1,
h2,
ul {
  margin: 0;
}
h1 {
  font-size: 3.3rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Averia Serif Libre", cursive;
}
h2 {
  color: black;
  font-size: 2em;
  margin: 20px auto;
}
h3 {
  font-size: 1.5em;
  margin: 10px auto;
}
h4 {
  font-size: 1.1em;
  margin: 5px auto;
}

a:hover,
a > *:hover {
  text-decoration: underline;
}

main {
  margin-top: 85px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

main article {
  width: 100vw;
  box-sizing: border-box;
}

main article p {
  width: 100%;
}

p,
li {
  line-height: 1.5em;
}

.background-photo {
  font-size: 1.2em;
  padding: 70px 10vw;
}

.background-photo h1{
  font-size: 3.7em;
}


.background-photo,
.titre {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  background-size: cover;
  width: 100vw;
  color: #fff;
  box-sizing: border-box;

}
.titre {
  padding: 9vw 10vw;
}

.titre h1 {
  padding: 50px 20px;
  border: solid white;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.nous-trouver-eof {
  background-color: #f8f6f6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 70px;
  padding: 0;
  text-align: center;
}

.nous-trouver-eof a {
  margin: auto;
  max-width: none;
}

.nous-trouver-eof section {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  padding: 65px;
}

.nous-trouver-eof h3 {
  border: none;
  padding-top: 0;
}

#burger {
  background-image: url("../images/burger-640.jpg");
}
#fair {
  background-image: url("../images/vegan-fair-640.jpg");
}

#fair,
#burger {
  margin: 0;
  height: 400px;
  width: 50%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bouton {
  display: inline-block;
  border-radius: 30px;
}

.bouton-mainpage {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 11px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #ff3d00;
  margin: 10px auto;
  text-align: center;
  text-shadow: none;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.bouton-recettes {
  padding: 7px 20px 9px;
  color: #ff3d00;
  border: 1px solid #ff3d00;
  font-weight: bold;
  margin: 60px auto 10px;
  text-align: center;
  text-shadow: none;
}

.bouton-mainpage i,
.bouton-recettes i {
  float: right;
  font-size: 1.2em;
}
.bouton-mainpage i,
.bouton-recettes i {
  margin-left: 15px;
  padding: 0;
}
.bouton-recettes i {
  margin-top: 2px;
}
.bouton-mainpage:hover {
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.separateur {
  width: 100%;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  margin: auto;
}

.footer-contact .fa,
.footer-contact .fab {
  background-color: #8e685c;
  color: white;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 41px;
  margin: 10px 15px;
  vertical-align: middle;
}

.fa-envelope:hover,
.fa-facebook-f:hover {
  background-color: #ff7539;
  text-decoration: none;
}
.box {
  border: 1px solid rgba(15, 0, 0, 0.1);
  box-sizing: border-box;
  background-position: top;
  margin: 50px 0 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.box:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 18px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 737px) {
  .background-photo {
    font-size: 1.1em;
  }

  h1, .background-photo h1{
    font-size: 2.7rem;
  }

  .titre h1 {
    padding: 40px 20px;
    min-height: 100px;
  }

  #fair,
  #burger,
  .nous-trouver-eof section {
    width: 100%;
  }

  .bouton-recettes {
    margin: 40px auto 10px;
  }
}
